*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    /* overflow: hidden; */
}

#container{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 185, 188);
}

#start{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    /* text-align: center; */
    gap:12px;
    border-radius:25px;
    /* margin-bottom:15px; */
}
#start input{
    padding: 8px;
    /* margin-top: 1%; */
    margin-bottom: 2%;
    border:0.5px solid  rgb(102, 185, 188);
    border-radius: 5px;
    box-sizing: border-box;
    flex:1;
    color:rgb(102, 185, 188);
}

.row{
    display: flex;
    align-items: center;
    gap:15px;
}

.row label{
    width:70px;
    font-weight: 500;
}

#start input:focus{
    border:2px solid  rgb(102, 185, 188);
    outline: none;
}

#start input::placeholder{
    color: rgb(102, 185, 188);
}

#start label{
    color: rgb(102, 185, 188);
}

#btn{
    background-color: rgb(102, 185, 188);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    width:120px;
    /* margin-bottom: 2%; */
    align-self: center;
    cursor:pointer;
}

#order{
    text-align: center;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    color: rgb(102, 185, 188);
    text-align: left;
}

.mul-row{
    display: grid;
    grid-template-columns: 30px 20px 30px 20px 40px;
    gap: 5px;
    font-family: sans-serif;
}